* {
    padding: 0%;
    margin: 0%;


  font-family: "Playwrite NZ Basic", cursive;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;


}
 body {
        background-image: url(https://wallpapercave.com/wp/wp5351537.jpg);
        background-size: cover;
        background-position: center;
          
    }


.heading {
    height: 50px;
    background-color:  #fd6569;;
    color: black;
    padding: 20px;
    width: auto;
}

.container{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.book {
    background-color: black;
    color: white;
    padding: 25px;
    border-radius: 30px;
    width: 350px ;
    height: fit-content;
    margin: 25px;
    vertical-align: top;

}

.book h5 {
    margin-top: 10px;
}
 
.book p {
    margin-top: 20px;
}

.book button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fd6569;
    color: black;
    border: none;
    cursor: pointer;
}

#addbutton {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 35px;
    background-color: #fd6569;
    color: black;
    cursor: pointer; 
    position: fixed;
    bottom: 30px;
    right: 30px;
    border: none;
    font-family: Arial,  sans-serif;
}

.overlay {
    background-color: rgb(0, 0, 0, 0.8);
    opacity: 0.8;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}
.popup {
    padding: 40px;
    background-color: #fd6569;
    width: 40%;
    border-radius: 20px;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    vertical-align: top;
    display: none;
    z-index: 2;
}

.popup input {
    background: transparent;
    border: none;
    width: 100%;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    border-bottom: solid black;
}

.popup textarea {
    background: transparent;
    margin-top: 30px;
    border: solid black 2px;
    width: 100%;
    padding: 10px;
    font-size: 24px;
    
}


.popup button {
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fd6569;
    color: black;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.popup input::placeholder,
.popup textarea::placeholder {
    color: black;
    font-weight: 400;
}

.popup p {
    color: black;
    font-weight: 900;
    display: none;
}
