body {
    background-color: black;
    color: white;
    font-family: arial, sans-serif;
    text-align: center;
}

.heading {
      margin-top : 10px;
}

.inputform {
    margin: 20px auto;
    border: 2px solid #fff;
    padding: 20px;
    width: 350px;
   
}

 button {
    background-color: aqua;
    color: black;
    cursor: pointer;
    border: 1px solid black;
    width: 100%
}

.inputform table {
    display: flex;
    justify-content: center;
}

 .outputform {
    width: 80%;
    margin: 40px auto;
    display: none;
 }
.outputform table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin: 30px auto;
    
}
.outputform th,
.outputform td {
    border: 2px solid black;
    padding: 15px;
    text-align: center;
    font-size: 16px;
}
.outputform th {
  
    background-color: beige;
    color: black;
}



















    
   


