body {
    background-color: black;
    color: white;
}

.tittlebar{
    color: white;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.container div {
    padding: 20px;
    
    width: 200px;

}








    
   


