body {
    background-color: black;
    color: white;
    text-align: center;
}
.heading {
    margin: 20px auto;
    font-size: large;
}

.inputform {
    margin: 60px auto;
   display: flex;
   justify-content: center;
}

.inputform input,
.inputform select {
    font-size: 15px;
    padding-left: 15px;

}

.inputform button {
    margin-top: 15px;
    font-size: 20px;
    padding: 10px;

}

.inputform td {
    font-size: 25px;
}

button {
    width: 100%;
    background-color: aqua;
    cursor: pointer;
     border-radius: 50px;
    
}

.outputform {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 40px auto;
      display: none;
   
}

.outputform table {
    width: 100%;
     border-collapse: collapse;
}

.outputform th {
    border: 2px solid white;
    padding: 20px;
    background-color: beige;
    color: black;
    font-size: 20px;
}

.outputform td {
     border: 2px solid white;
    padding: 20px;
    font-size: 16px;
    
} 
 
p {
    color: red;
    font-size: 16px;
}

@keyframes shake {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(0px);
    }
    75% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0px);
    }
}

.shake {
    animation: shake 0.4s ;
}
















    
   


