body {
    background-color: black;
    color: white;
}

.tittlebar{
    color: white;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   

}

.container div {
    
   text-align: center;
    width: 200px;
    flex-basis: 25%;
   
    

}








    
   


